* {
  margin: auto 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Korner Deli NF';
  src: url("./fonts/KornerDeliNF.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}
.container {
  text-align: center;
  font-family: 'Comfortaa';
  width: 100vw;
}

a {
  text-decoration: none;
}

.thanks {
  background-color: #315240;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  
}

.thanks1{
   width: 100%;
}

.thanks2{
  border: 1px solid #315240;
  border-radius: 1rem;
  background-color: #315240;
}

.thanks2 p {
  color: #fff;
}

.thanks2:hover {
  background-color: beige;
  cursor: pointer;
  
}

.thanks2 p:hover {
  color: #315240;
}

.scratchmapp {
  font-family: 'Korner Deli NF';
  font-weight: bold;
  color: #FFF5DA;
  font-size: 2.5rem;
  margin-bottom: 15px;
  line-height: 2.5rem; 
  display: flex;
  justify-content: center;

}

.logo, nav a {
  display: none;
}

header, nav .burger {
  display: flex;
  justify-content: center;
}

nav .burger {
  font-size: 4em;
  flex-flow: row nowrap;
  padding: 1.4rem;
  color: #315240;
}

nav .burger::after {
  content: "\2630";
}

.drop-item {
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-decoration: none;
}

.current {
  cursor: pointer;
}

.drop-item:hover {
  background-color: #315240;
  color: #fff;
}

.dropdown {
  height: 0;
  overflow-y: hidden;
  transition: 1s;
}

.dropdown a {
  font-size: 2rem;
  padding: 0.8rem;
}

.exp .dropdown {
  height: 50vh;
}

header {
  background-image: url(img/fog-3622519_1920.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  align-items: center;
  padding-top: 2rem;
}

.dropdown a, .thanks, h1 {
  color: #315240;
  text-align: center;
}

.thanks {
  background-color: #90a17c;
  font-family: 'Comfortaa';
  font-size: 2rem;
  padding: 2rem;
}

h1 {
  font-size: 2.8rem;
  padding: 1rem 2rem 18rem;
}

.formtitle h2 {
  font-size: 2.5rem;
  color: #fff;
}

.dddb, .description {
  padding: 4rem;
  display: flex;
}

.description {
  color: #5c9c50;
  height: 50%;
  font-size: 1.5rem;
  align-items: center;
  justify-items: center;
  background-color: #eeead4;
}

.dddb {
  background-color: #315240;
  flex-direction: column;
  text-align: center;
}

.dddb .dddb, .progress .label {
  font-size: 2.5rem;
  text-align: center;
}

.dddb p {
  font-size: 1.3rem;
}

.dddb div {
  padding: 2rem;
  color: #eeead4;
}

.dddb h2 {
  padding-bottom: 4rem;
}

.skill {
  background-color: #eeead4;
  padding: 2rem;
  padding-right: 3rem;
  font-size: 2rem;
  text-align: start;
  line-height: 5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.skill h2 {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}

.progress {
  width: 100%;
  display: flex;
  height: 2.4rem;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
}

.progress .label {
  flex: 0 0 8rem;
  background-color: #444;
  color: #fff;
  font-size: 1.4rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.progress .bar, .progress .label, .progress .perc {
  height: 2.4rem;
  line-height: 2.4rem;
}

.progress .bar {
  flex: 1;
  background-color: #d6d6d6;
}

.progress .perc {
  flex: 0 0 4rem;
  background-color: #444;
  color: #fff;
  font-size: 1.4rem;
  text-align: center;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.progress .knob {
  height: 2.4rem;
  background-color: #315240;
}

.portfolios {
  background-color: #90a17c;
  padding: 4rem;
  display: flex;
  line-height: 2rem;
  flex-direction: column;
}

.portfolio1 {
  width: 100%;
}

.portfoliotitle {
  background-color: #90a17c;
}

.portfoliotitle h2 {
  font-size: 2.5rem;
  color: #eeead4;
  padding-top: 2rem;
}

.aboutme {
  display: flex;
  flex-direction: column-reverse;
}

.abouth2 {
  align-items: flex-start;
  justify-items: flex-start;
  width: 100%;
}

.abouth2 h2 {
  font-size: 2.5rem;
  padding: 2rem;
}

.profileimg img {
  width: 80%;
  border-radius: 50%;
  padding: 1rem;
}

.aboutdescription {
  align-items: center;
  padding: 0 2rem;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.aboutdescription h4, .find_me_here {
  background-color: #315240;
  color: #eeead4;
}

.aboutdescription h4 {
  border: 1px solid #315240;
  border-radius: 2rem;
  background-size: contain;
  padding: 1.8rem;
}

.aboutdescription h4:hover, button:hover {
  transform: scale(0.8);
  transition: 1s;
}

.find_me_here {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.findh2 {
  width: 100%;
}

.findh2 h2 {
  text-align: center;
  padding: 1.8rem 0;
}

.git, .instagram, .linkedin {
  width: calc(32% -20px);
  margin: 1rem;
}

.git:hover, .instagram:hover, .linkedin:hover {
  transform: scale(1.2);
  transition: 1s;
}

.form {
  display: flex;
  flex-direction: column;
  background-color: #5c9c50;
  padding: 3rem;
  justify-content: center;
  text-align: center;
}

.formttitle {
  width: 100%;
  align-self: flex-start;
}

.findh2 h2, .formttitle h2 {
  font-size: 2.5rem;
  color: #eeead4;
}

.div {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  
  width: 100%;
}

.email, .firstname, .lastname, .phone {
  width: 100%;
  line-height: 6rem;
  
}

.email input, .firstname input, .lastname input, .phone input {
  width: 100%;
  margin: 0;
}

::placeholder {
  color: #000;
  font-size: 1.5rem;
  font-family: 'Comfortaa';
  border-radius: 1rem;
  line-height: 3rem;
}

button, input, textarea {
  border: 0;
  font-family: 'Comfortaa';
  font-size: 1.5rem;
}

input {
  line-height: 2.5rem;
  color: #000;
  border-radius: 1rem;
}

text {
  font-family: 'Comfortaa';
  font-size: 1.5rem;
}

footer, input, textarea {
  background-color: #eeead4;
}

button, textarea {
  border-radius: 2rem;
}

textarea {
  line-height: 4rem;
  width: 80%;
  color: #315240;
  padding: 2rem;
}

.button, .message {
  width: 100%;
}

button {
  width: 85%;
  color: #eeead4;
  background-color: #315240;
  padding: 1rem;
  margin-top: 2rem;
}

footer {
  padding: 4rem;
}

footer h2 {
  color: #315240;
  font-size: 3rem;
  padding-bottom: 2rem;
}

@media screen and (min-width: 500px) {
  .profileimg img {
    width: 50%;
  }

  .skill {
    padding-left: 3rem;
    padding-right: 4rem;
  }

  .email input, .firstname input, .lastname input, .phone input {
    width: 75%;
    margin: 0;
  }

}

@media screen and (min-width: 768px) {

  .social {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
  }

  .git, .linkedin, .instagram {
    width: 33%;
  }

  .bigdiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .email, .firstname, .lastname, .phone {
    width: 50%;
    padding-right: 4rem;
    padding-left: 4rem;
  }
  
  .email input, .firstname input, .lastname input, .phone input {
    width: 100%;
  }
  
}

@media screen and (min-width: 500px) and (min-width: 800px) {
  h1 {
    color: #315240;
  }

  .skill {
    padding-left: 6rem;
    padding-right: 7rem;
  }

  .navlogo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0;
  }

  .logo {
    padding: 1rem 1rem 0;
    display: flex;
  }

  .logo:hover {
    transform: scale(1.5);
  }

  nav a:hover {
    color: #eeead4;
    background-color: #315240;
  }

  .aboutme {
    flex-direction: row;
    width: 100%;
    padding: 2rem;
  }

  .abouth2 {
    width: 100%;
    padding-top: 2rem;
  }
  
  .aboutdescription, .profileimg {
    width: calc(50% - 10px);
  }

  .portfolios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .porfolio {
    width: 50%;
  }

  .div {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .bigdiv {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .profileimg img {
    width: 80%;
  }

  .bbb {
    display: flex;
    flex-flow: row nowrap;
  }

  .git, .instagram, .linkedin {
    width: calc(33% - 10px);
    margin: 3rem;
  }

}

@media screen and (min-width: 500px) and (min-width: 1000px) {

  .email input, .firstname input, .lastname input, .phone input {
    width: 75%;
  }

  .portfolios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .porfolio1 {
    width: 33%;
  }

  .discover, .design, .deploy, .be_ready {
    height: 400px;
  }

  .menu {
    padding: 0;
  }

  .skill {
    padding-left: 10rem;
    padding-right: 11rem;
  }

  .progress {
    margin-bottom: 1.5rem;
  }

  .dropdown {
    overflow: visible;
  }

  .navlist a .drop-item {
    background-color: transparent;
    color: #315240;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: flex-end;
  }

  nav:hover .dropitem {
    flex-flow: column nowrap;
    align-self: flex-end;
  }

  .navlist, .navlist .drop-item, nav:hover .dropitem {
    display: flex;
    color: #315240;
  }

  .navlist a:hover {
    color: #eeead4;
    background-color: #315240;
  }

  .navlist .drop-item {
    background-color: #fff;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: flex-end;
  }

  h1 {
    font-size: 4rem;
  }

  .dddb {
    flex-flow: row nowrap;
    text-align: center;
    padding-bottom: 7rem;
  }

  .aboutdescription p {
    line-height: 2rem;
  }

  .porfolio {
    width: 33%;
  }

  .porfolio1 p {
    height: 225px;
    display: flex;
    align-items: center;
  }

  a {
    display: inline;
    font-size: 1.3rem;
    color: #315240;
    text-decoration: none;
    padding: 0.5rem;
  }

  nav .burger {
    display: none;
    padding: 0;
  }

  .profileimg img {
    width: 60%;
  }

  .bbb {
    flex-flow: row;
  }

  .bbb, .findh2 {
    width: 100%;
  }

  .git, .instagram, .linkedin {
    width: calc(33% -10px);
  }

  

}

@media screen and (min-width: 1440px) {

  h1 {
    font-size: 4.5rem;
  }

  .navlist a {
    font-size: 2.5rem;
  }

  .dddb p, p {
    font-size: 1.8rem;
    padding: 1.5rem;
  }

  .skill {
    padding-left: 15rem;
    padding-right: 16rem;
  }

}

@media screen and (min-width: 2560px) {

  .skill {
    padding-left: 20rem;
    padding-right: 21rem;
  }

  h1 {
    font-size: 6rem;
    padding-bottom: 28rem;
  }

  .navlist a {
    font-size: 3.5rem;
  }

  .dddb p, h3, p {
    font-size: 3.4rem;
    line-height: 4rem;
  }

  .dddb p, h3 {
    font-size: 3rem;
  }

  .abouth2 h2, .dddb h2, .findh2 h2, .formtitle h2, .portfoliotitle h2, .skill h2, button, h4 {
    font-size: 4.5rem;
  }

  ::placeholder {
    font-size: 3rem;
    color: #000;
  }

  input {
    line-height: 7rem;
    padding: 2rem;
  }

  .perc, .progress .bar, .progress .label, .skill {
    font-size: 2.8rem;
  }

  .skill {
    padding-left: 20rem;
    padding-right: 21rem;
  }
}
